{% extends 'employers/base.html' %}

{% block title %}
	Vacancy List
{% endblock %}

{% block content %}
    {% for vacancy in vacancies %}
    	<p>{{ vacancy }}
            - <a href="{% url 'vacancy_detail' vacancy.pk %}">Detail</a>
            {% if request.user.is_staff %}
                - <a href="{% url 'vacancy_update' vacancy.pk %}">Update</a>
                - <a href="{% url 'vacancy_delete' vacancy.pk %}">Delete</a>
            {% endif %}
        </p>
    {% endfor %}

{% endblock %}