{% extends 'applicants/base.html' %}

{% block title %}
	Resume Detail
{% endblock %}

{% block content %}
    {% for resume in resumes %}
    	<p>{{ resume }}
            - <a href="{% url 'resume_detail' resume.pk %}">Detail</a>
            {% if request.user.is_active and not request.user.is_staff %}
            	- <a href="{% url 'resume_update' resume.pk %}">Update</a>
                - <a href="{% url 'resume_delete' resume.pk %}">Delete</a>
            {% endif %}
        </p>
    {% endfor %}

{% endblock %}